<div id="issuing" class="tab" style="display:none;">
    <div class="w3-container w3-card w3-padding w3-margin" style="float: left;width: 31%">
        <h3>Create Schema: </h3>
        <form method="POST" action="/api/issuer/create_schema">
            <label>Name of Schema: </label>
            <input type="text" class="w3-input" name="name_of_schema" value="medical record">
            <br><br>
            <label>Schema Version: </label>
            <input type="text" class="w3-input" name="version" value="1.0">
            <br><br>
            <label>Please supply a JSON array of attributes:</label><br><br>
            <textarea style="height:220px;" class="w3-input" name="attributes" required>[
    "name",
    "gender",
    "age",
    "eid",
    "the health examination report",
    "Conclusion and Advice"
]</textarea>
            <br><br>
            <input class="w3-btn w3-white w3-border" type="submit">
        </form>
    </div>

  

</div>
