<div id="issuing3" class="tab" style="display:none;">
    

    
        <div class="w3-container w3-card w3-padding w3-margin">
            <h3>Send Credential Offer</h3>
            <form method="POST" action="/api/issuer/send_credential_offer">
                <label>Relationship: </label>
                <select class="w3-select" name="their_relationship_did" required>
                    <%for(let relationship of relationships) {%>
                        <option value="<%=relationship.their_did%>"><%=relationship.metadata.name%></option>
                    <%}%>
                </select>
                <br><br>
                <label>Select a Credential Definition:</label>
                <select class="w3-select" name="cred_def_id" required>
                    <%for(let credDef of credentialDefinitions) {%>
                        <option value="<%=credDef.id%>"><%=credDef.tag%></option>
                    <%}%>
                </select>
                <br><br>
                <input class="w3-btn w3-white w3-border" type="submit">
            </form>
        </div>

</div>
